<nav class="navbar" data-controller="menu" >
  <%= image_tag ("logo.svg"), alt: "text", class: "logo" %>
  <div class="menu-layout" data-menu-target="hamburger">
    <div class="triangle"></div>
    <div class="menu">
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Projects</a></li>
      </ul>
      <div class="btn-contact">Contact</div>
    </div>
  </div>
  <div class ="hamburger" data-action="click->menu#open">
    <%= image_tag ("icon-hamburger.svg"), alt: "text" %>
  </div>
</nav>
